@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
	}

	.roboTitle {
		font-family: 'SEGA LOGO FONT';
		font-size: 4rem;
		font-weight: 200;
		color: #0afff7;
	}
	input {
		border-radius: 1rem;
		outline: 0;
		margin-top: 5rem;
		margin-bottom: 3rem;
	}
	.bg-light-green-custom {
		background: #65f1bd;
	}
